[2018-10-29 09:34] krasi-georgiev opened #167 "check if Prow can be replaced with GitHub Actions"
https://github.com/features/actions

Currently we use Prow and need to maintain a fork with a custom Prombench plugin.
https://github.com/prometheus/test-infra

If we can use Github actions instead will remove another thing we need to maintain.

[2018-10-29 15:34] krasi-georgiev opened #168 "There are gaps in the metrics due to query timeouts."
Looks like some more  adjustments are needed to get metrics without any gaps.
![screenshot_20181029_173408](https://user-images.githubusercontent.com/8903888/47661012-e4856d80-dba0-11e8-8f9a-11a7f020a407.png)

[2018-12-12 17:41] sipian commented on #168
Acc to debug logs,
[code]
I think the gaps are due to these, instead of query timeouts.

[2018-12-12 17:52] krasi-georgiev commented on #168
yeah I checked as well and it when the scrape targets are scaled down it all looks normal. In that case try lowering the overall scrape jobs or the fake-webserver instances.

[2018-12-21 10:26] krasi-georgiev opened #173 "Compared versions are not queried at the same rate."
It was pointed to me by @free that when we run the tests both versions don't get the same query load which leads to misleading comparison.

Here is the proof:
http://prombench.prometheus.io/prometheus-meta/graph?g0.range_input=7h&g0.end_input=2018-10-19%2016%3A02&g0.step_input=60&g0.expr=rate(prometheus_engine_query_duration_seconds_count%7Bjob%3D%22prometheus%22%2Cslice%3D%22inner_eval%22%2Cnames

[2019-03-24 11:12] geekodour opened #178 "Usage of python scalar in loadgen unclear"
So I was looking at [6_loadgen.yaml](https://github.com/prometheus/prombench/blob/master/components/prombench/manifests/benchmark/6_loadgen.yaml) and I am unclear about the usage of the python scalar.

There's a [python scalar](https://github.com/prometheus/prombench/blob/master/cmd/load-generator/main.py#L25) and there's the [go scalar](https://github.com/prometheus/prombench/tree/master/cmd/scal

[2019-03-24 14:36] sipian commented on #178
The python scaler was replaced with the client scaler in https://github.com/prometheus/prombench/pull/139.

At that time it was discussed to leave python scaler as it is. Don't remember the reason though 😛.
I think we can remove it now as it causes unnecessary confusion as stated above.

For the loadgen Makefile , since we didn't have a CI to push docker images, I guess we had left it like that.

[2019-03-24 14:36] #178 closed, assigned to nobody

[2019-03-24 14:44] geekodour commented on #178
great! I'll add the changes then.

[2019-03-25 02:39] geekodour opened #179 "Improving CLI Logging"
I think there is a possibility to improve the CLI logging for prombench.

Current logging:
[code]

[2019-03-25 08:15] krasi-georgiev commented on #179
don't think we need an issue for that, but PR to improve it is welcome.
Thanks.

[2019-03-25 08:15] #179 closed, assigned to nobody

[2019-03-26 10:57] krasi-georgiev commented on #167
just found out that Prow now supports external plugins so in this case can use unmodified Prow with just the Prombench external plugin
https://github.com/kubernetes/test-infra/blob/8304ccbbacab0c97bcf689f1147c16939d5d0405/prow/plugins/README.md#external-plugins

[2019-03-30 12:15] geekodour opened #181 "kubectl does not show all deployments from gke"
This issue is not directly related to prombech but not sure about why it's behaving this way.

got the credentials using

[code]

deployments are shown in the UI
[![][1]][1]

[1]: https://i.stack.imgur.com/dH25K.png

When I do `kubectl get deployments` to get all deployments using kubectl,

it shows:

[code]
Seems like it's showing the deployments done in the `prow` node but not from the other nod

[2019-03-30 16:12] geekodour commented on #173
@krasi-georgiev was working on the golang querier. the links in this issue no longer seem to show the desired results, any idea why this might be happening (that the compared versions are not queried at the same rate). ?

[2019-03-31 16:23] krasi-georgiev commented on #173
No I am sorry it has to be investigate. I don't know what could be the reason.

With some tweaking you should be able to run the same query for some more recent Prombench test to check the difference.

[2019-03-31 16:28] krasi-georgiev commented on #181
I think you need to select all namespaces.

[2019-03-31 16:30] krasi-georgiev commented on #181
anyway for issues like this it is best to ask in the k8s channels or ping me or @sipian 	directly if we can give some pointers.

Don't think we need to keep this one open. Feel free to ping me on IRC  if you can't figure it out and will try to give some more ideas.

[2019-03-31 16:30] #181 closed, assigned to nobody

[2019-04-04 20:30] geekodour commented on #173
Okay I'll investigate this one. As I was looking at the Dockerfiles for both the prometheus versions are run in different environments. prometheus-builder runs on top of the go11 image which seems to use alpine and the official prometheus releases seem to be using busybox(a custom one). Not sure if it's of any significance to this issue.

I think it would be a good idea to run both in the same env

[2019-04-04 22:11] geekodour opened #183 "Running prometheus-builder as an init container"
I have a suggestion related to `prometheus-builder`,

`prometheus-builder` would be more fit for an [init Container](https://kubernetes.io/docs/concepts/workloads/pods/init-containers/).

That way prometheus-builder would work as follows:
- build the PR version
- copy the binary and supporting files to a mounted volume (pref. [emptyDir](https://kubernetes.io/docs/concepts/storage/volumes/#emptydir

[2019-04-04 22:36] krasi-georgiev commented on #183
yep that sound like a good idea, just go for it.

Don't think we need to have an issue for that. just open the PR and will discuss there.

[2019-04-04 22:36] #183 closed, assigned to nobody

[2019-04-04 22:38] krasi-georgiev commented on #173
yeah I believe the problem is somewhere else. Did you manage to fix that query from the original comment, that should give you a better clue on where is the problem.

[2019-04-05 19:37] free commented on #173
If I had to guess (and with no clue of what the code is doing) I'd say it was simply a result of the fact that the slower a query runs on one build, the longer it takes to issue the next query. I.e. as long as whatever is running the queries doesn't follow a fixed schedule (e.g. issue one query every 50 ms) you will never get comparable results.

One easy way around this would be to simply use rec

[2019-04-06 10:15] krasi-georgiev commented on #173
@free thanks for the feedback that is really useful!

[2019-04-10 12:01] geekodour commented on #173
I'll try to reproduce this today.

If this is the case,

won't having recording rules have the same issue? as the recording rules will be run independently, the build that is taking longer to process a query still will, no?

the currently prometheus instances are started at slightly different times (can be fixed after #180) and the current querier waits for a specified amount of time before starti

[2019-04-11 13:45] krasi-georgiev opened #186 "Revisit all current dashboards to add new and remove unneeded to make them more useful for catching bugs."
Brian tries to provide some useful ones in
https://grafana.com/orgs/robustperception/dashboards

Need to monitor current bugs, talk to the maintainers and make the dashboards more useful to catch bugs during the bench tests.

Current dashboards are not bad, but there is room of improvement.
http://prombench.prometheus.io/grafana

[2019-04-11 14:01] krasi-georgiev commented on #186
Few ideas:

 - [ ] add rules
 - [ ] add metrics for the time and size retention to make sure it works as expected

[2019-04-11 14:03] brian-brazil commented on #186
Or wait for me to update my dashboards, which already have those ;)

[2019-04-12 12:22] krasi-georgiev commented on #186
lets put this on hold for now and will revisit in 1-2 months.

[2019-05-02 02:58] geekodour commented on #167
@krasi-georgiev continuing work on #31 as it requires some changes to the test-infra, do you think working on this one (making `benchmark` an external plugin and adding other changes) before #31  would be a good idea? (from #174 )

changes like, updating the test-infra repo, removing extra components(we're only using prow of all), updating the README to be more specific to prombench's test-infra (

[2019-05-02 20:26] krasi-georgiev commented on #167
Yeah lets check if we can use github actions first.
We should have it enabled for https://github.com/prometheus-community soon and I will add you there so you start experimenting.

[2019-05-20 06:46] geekodour opened #190 "[suggestion] new directory structure"
The k8s manifest files for deploying prombench and prow are kind of mixed together currently. This issue suggests a better directory structure which separates the manifest files accordingly.

This will also be convinient when migrating away from prow to github actions or moving to a newer prow version,

suggested structure is as follows( only changes are shown) :
- `/temp` -> `/images`
- `/compone

[2019-05-20 19:37] krasi-georgiev commented on #190
ok, please make a PR and make sure you update the README.md and test a full deployment from scratch to make sure that following the README.md will results a fully functional Prombench setup.

About the `/temp` It was my idea to keep is as temp as a reminder that we want to move away from the custom builder and use either promu or add this as part of the CI somehow.

P.S.
this is a good source how

[2019-05-28 09:25] geekodour opened #192 "prombench won't build outside $GOPATH when using the docker image"
prombench won't build outside `$GOPATH` when using the docker image **if** there's no `/go/src/github.com/prometheus/prombench`

docker golang was used to build prombench was added here:
https://github.com/prometheus/prombench/pull/185/files#diff-b67911656ef5d18c4ae36cb6741b7965R4

When running in a machine with `GO111MODULE='on'` , `go build ./cmd/prombench` works outside `$GOPATH`  but running

[2019-05-28 13:24] #192 closed, assigned to nobody

[2019-06-04 15:41] geekodour opened #198 "disks in gke not getting deleted after cluster is terminated"
GCP  disks that are created after creation of persistentVolume/persistentVolumeClaim resources are not getting deleted automatically even if the ` persistentVolumeReclaimPolicy` is set to `Delete`.

Have to investigate if deleting the persistentVolumeClaim resource before terminating the cluster will result in automatic deletion of the disk from GCP.

[code]

[1] https://cloud.google.com/kubernete

[2019-06-17 12:53] geekodour opened #202 "Update load generator to use a env var for domain name"
the load-generator utility which works as the `querier` uses hardcoded strings for the domain name.

Eg.
https://github.com/prometheus/prombench/blob/5bf056cfa3c97550ff4680abc8bcf73c6f7ba9bd/cmd/load-generator/main.py#L46

We can change this to use a env var or something similar, but there was a previous discussion for converting this into a golang tool (https://github.com/prometheus/prombench/iss

[2019-06-17 18:17] krasi-georgiev commented on #202
Don't have any python devs that would maintain it so lets convert to a golang tool.
This is not a priority so lets leave it for after closing the High priority issues first.

[2019-06-17 18:17] #202 closed, assigned to nobody

[2019-06-19 23:02] #190 closed, assigned to nobody

[2019-06-25 19:05] geekodour opened #209 "Storing secrets in GitHub Actions"
When moving to GitHub actions, it will be good to keep this in mind if it does not move out of Beta by the time we implement it.

also

more info:
https://developer.github.com/actions/managing-workflows/storing-secrets/

[2019-06-29 00:44] geekodour opened #215 "circleci tests not running"
`.circleci/config.yml` was added in https://github.com/prometheus/prombench/pull/213 but tests don't seem to be running on new PRs. prombench is enabled in circleci as @krasi-georgiev stated.

more info: https://circleci.com/docs/2.0/enable-checks/#github-checks-waiting-for-status-in-github

cc @SuperQ  @simonpasquier

[2019-07-01 08:47] simonpasquier commented on #215
I believe it should be fixed now (see https://github.com/prometheus/prombench/pull/216 which also reuses the new Circle CI orb). The last missing bit was to enable the CI for pull requests from forks.
You'd need to update your open PRs to trigger the CI again.

[2019-07-01 08:47] #215 closed, assigned to nobody

[2019-07-16 20:48] geekodour opened #223 "Update Dockerfile and image for prombench"
In addition to some changes done recently, another change that is needed in the `prombench` `Dockerfile` is that `Makefile` now includes `Makefile.common` which uses the `go` binary.

https://github.com/prometheus/prombench/blob/7d2e3503af0ea3f47561d4b5c6f4837973146f3e/Makefile#L3

https://github.com/prometheus/prombench/blob/7d2e3503af0ea3f47561d4b5c6f4837973146f3e/Makefile.common#L35

So we prob

[2019-07-17 09:25] krasi-georgiev commented on #223
which target requires the go binary?

Also the current Dockerfile looks quite bad. We need to use multistage build to build prombench at one stage and just use the binary in another.

Not even sure why we need these:
https://github.com/prometheus/prombench/blob/7d2e3503af0ea3f47561d4b5c6f4837973146f3e/cmd/prombench/Dockerfile#L8-L10

[2019-07-27 06:55] #223 closed, assigned to nobody

[2019-08-05 10:03] krasi-georgiev opened #239 "move all tools from /cmd/.. to /tools/..."
Leave just the prombench tool in /cmd/prombench and move all the other cli in /tools

cc @nikita-mk

[2019-08-09 22:56] csmarchbanks opened #249 "Exercise Remote Write as part of Prombench"
It would be valuable to be able to benchmark proposed remote write changes in a reproducible manner. Right now we are dependent on having a few people deploy branches to their instances to see if improvements work for them.

Perhaps have this optional so that remote write is not always exercised?

[2019-08-10 08:12] krasi-georgiev commented on #249
Shouldn't be difficult to implement.

Are you interested in working on this?

[2019-08-10 08:22] geekodour commented on #249
We can enable prombench to setup prometheus in custom ways, if we allow specifying the features to add to both of the test prometheus instances.

Example comments:
`/benchmark [remote_write,]`
`/benchmark master [remote_write,]`
`/benchmark v2.11.1 [remote_write, remote_read, something_else]`

A regex like this would work:
[code]
https://regex101.com/r/8rF6xa/2/

It will give a captured group with

[2019-08-10 08:39] krasi-georgiev commented on #249
yep that sound like the way to go, but unless someone has the time to work on this the scalability tests are much higher priority

[2019-08-10 09:03] geekodour opened #250 "Enable named files for arguments in commentMonitor"
Currently when using commentMonitor we're getting the `PR_NUMBER` as such:
`export PR_NUMBER=$(cat /github/home/ARG_1);,`

I think it will be better to have the filename of known args as their env var names, think this can be implemented in `writeArgs` by checking the value of `data` to a  list of known regex for the envvars and when it's not in the list of known regex we can add it the name `ARG_

[2019-08-10 11:30] krasi-georgiev commented on #250
yep ,very good idea!

[2019-08-12 08:39] geekodour opened #252 "Notification/comment on test command success and failure"
**With the current Prow setup:**
1.`/benchmark` : A comment is posted before `make deploy` is run, this comment contains all information about the test. If something fails while `make deploy` is running prow posts a comment about the prowjob exiting with an error code.
2. `/benchmark cancel` : No comment is posted

**With the new Github Actions setup:**

Current comments:
1.`/benchmark` : A commen

[2019-08-12 09:39] csmarchbanks commented on #249
I have interest in working on this, but am not sure when I will have time. If someone else gets to it first I would not be upset.

As far as as implementation goes, that seems reasonable for how to trigger it.

[2019-08-12 09:50] krasi-georgiev commented on #249
ok ping me or @geekodour 	for directions if you find the time to work on this.

[2019-08-13 11:05] krasi-georgiev commented on #252
afer some discussion we will keep the comment to give feedvack that the cancellation has starter. This will remove a confusion like: "Did I type the comment properly", "Did the system detect the webhook" etc.

lets wait for github actions a bit more as they should provide some form of feedback when a workflow failed. Maybe even if there is a feedback form can suggest this feature. All CI systems h

[2019-08-13 11:47] #167 closed, assigned to nobody

[2019-08-13 11:47] krasi-georgiev opened #254 "Remove all mentions of prow in all files"

[2019-08-13 13:25] geekodour commented on #239
This can be closed now I think by #253

[2019-08-13 13:25] krasi-georgiev commented on #239
Yes, Thanks

[2019-08-13 13:25] #239 closed, assigned to nobody

[2019-08-13 14:05] nikita-mk commented on #252
https://help.github.com/en/articles/about-github-actions#notifications-for-workflow-runs
Its there in the docs to send enable notifications for gh actions. Even an option to send notifications for failed workflows only.

To enable https://help.github.com/en/articles/choosing-the-delivery-method-for-your-notifications#choosing-the-delivery-method-for-your-notifications-about-github-actions

[2019-08-15 14:43] nikita-mk commented on #254
I will do this.

[2019-08-20 17:53] #250 closed, assigned to nobody

[2019-08-22 08:43] geekodour commented on #252
Github Action issue to track commenting on failure:
https://github.community/t5/How-to-use-Git-and-GitHub/Github-Actions-Contexts-and-steps-if-conditionals-are-unusable/m-p/29669/highlight/true#M8294

[2019-08-29 11:50] krasi-georgiev opened #273 "Use golang:alpine for /funcbench"
cc @VladMasarik

[2019-08-29 11:51] krasi-georgiev commented on #273
In my tests it reduced the size from 340 to 170mb on docker hub

[2019-09-10 08:27] krasi-georgiev commented on #273
fixed in https://github.com/prometheus/prombench/pull/275

[2019-09-10 08:27] #273 closed, assigned to nobody

[2019-09-18 10:53] geekodour commented on #252
closed by #287

[2019-09-18 10:53] #252 closed, assigned to nobody

[2019-09-18 12:12] geekodour commented on #186
Adding the new dashboards should become easier after #293 is merged.

[2019-09-19 13:38] #254 closed, assigned to nobody

[2019-10-28 18:07] csmarchbanks opened #299 "Prombench failing due to yarn dependency missing from Prometheus builder"
Prombench is not able to start up the Prometheus instances for testing pull requests due to the yarn dependency missing. Logs:
[code]
cc: @krasi-georgiev and @geekodour
also @juliusv

[2019-10-28 18:11] juliusv commented on #299
Seems like one would have to add https://github.com/prometheus/golang-builder/blob/2eedfc17ad288369f306bb87b6a9de75eac2c6e2/1.13/base/Dockerfile#L16-L19

...to https://github.com/prometheus/prombench/blob/master/prombench/temp/prometheus-builder/Dockerfile

[2019-10-29 08:03] geekodour commented on #299
The new Dockerfile adds few env vars :

https://github.com/prometheus/prombench/blob/f03a0d26e4874b794ef56989920857c60c1cf991/prombench/temp/prometheus-builder/build.sh#L5

`GITHUB_ORG` and `GITHUB_REPO`

Which are not set in the currently running prombench manifest setup, pushing this will break the use of `prometheus-builder:2.0.1`

@krasi-georgiev should the use of this env vars be removed and

[2019-10-29 08:20] krasi-georgiev commented on #299
@geekodour I would say go to the commit before this breaking change and apply the fix there to push the new image also open a PR to create a 2.0 branch. Additional also open a PR against the latest version as well.

[2019-10-29 11:17] geekodour commented on #299
Added and pushed the changes to the dockertag `prometheus-builder:2.0.1`

@csmarchbanks  `/benchmark` should work now.

[2019-10-29 12:54] krasi-georgiev commented on #299
create prombench v2.0.0 branch so can open a PR against that one as well
https://github.com/prometheus/prombench/tree/v2.0.0

[2019-10-29 15:09] krasi-georgiev opened #301 "After switching to GH actions rename repo to test-infra"

[2019-11-19 20:20] gerhard opened #305 "Add explanations to all panels on the Prombench dashboard"
It's difficult to understand what the different panels mean, and how they correlate. It would be great to have more information on them, similar to https://grafana.com/grafana/dashboards/10991

@codesome has all the context

[2019-11-20 09:11] geekodour commented on #305
Yes, I think having more info will be very useful as well.

@krasi-georgiev any updates on how to proceed with #186 , it seems these are somewhat related.

[2019-11-21 12:18] krasi-georgiev commented on #305
yes this would a good improvement and need some feedback from Prometheus users what metrics are useful and which aren't and yes having more info is always helpful. Just need someone to spend the time to do the research and revisit all panels or update to the latest dashboard from Brian's collections if these are updated there.

[2019-11-22 16:54] geekodour commented on #209
think this can be closed now as GithubActions is GA now.

[2019-11-23 11:00] krasi-georgiev commented on #209
yep

[2019-11-23 11:00] #209 closed, assigned to nobody

[2019-11-25 22:12] geekodour opened #309 "Add automation to update Grafana Dashboards"
Add github actions/circle ci in `prometheus/test-infra` to update the configmaps in the cluster when changes to grafana dashboards are pushed.

All grafana dashboards can be found in this file:

https://github.com/prometheus/prombench/blob/master/prombench/manifests/cluster-infra/grafana_dashboard_dashboards_noparse.yaml

[2019-12-18 10:28] krasi-georgiev opened #310 "Make sure that Prombench uses sole tenants."
https://cloud.google.com/compute/docs/nodes/create-nodes

If the tests run in a host with shared VMs than this means that the results will not be consistent between different VMs

[2019-12-19 07:48] geekodour opened #313 "Rename load-generator to querier"
https://github.com/prometheus/prombench/tree/master/tools/load-generator is the python querier, the name is confusing sometimes. should we change it to querier?

Also,  the `scaler` config file is in the fake-webserver manifest file. Can we move it to the [6_loadgen.yaml](https://github.com/prometheus/prombench/blob/master/prombench/manifests/prombench/benchmark/6_loadgen.yaml)
https://github.com/

[2019-12-19 17:33] krasi-georgiev commented on #313
IIRC the idea is to replace it complitely with a golang cli using the golang client library.

I don't know. I think it is safe to rename it.

[2019-12-22 10:48] halradaideh commented on #198
+1

i think disks in Compute Engine should mark the status of the PV if bounded or not if it
s related to GKE
plus if the PV is deleted on the GKE, delete the disk too !

[2020-02-04 03:55] geekodour opened #321 "Custom Prombench Tests"
The current prombench setup is rigid, recently got some interest in running custom prombench tests, especially when the current prombench setup is running on low memory. (https://github.com/prometheus/prometheus/pull/6729).

I suggest having something like this:
[code]
This way prombench users will be able to fork prombench, add their custom changes to a branch and prombench infrastructure will us

[2020-02-04 13:38] krasi-georgiev commented on #321
it is just one extra step to open a PR from your branch and run it as usual, no?
So unless there are any other benefits don't think it is worth spending anytime on this right now.
In the past we have discussed the option if someone wants to run bench tests on their own GKE account and than it would be beneficial to allow custom repos, but currently noone has requested this so best to spend the tim

[2020-02-04 15:42] cstyan commented on #321
I think personal forks and branches is a bit too much to ask. Can we provide a set of additional subcommands and config options to the prombench command? I'm sure Chris and I would be happy to help with a remote write test for prombench.

[2020-02-04 15:49] krasi-georgiev commented on #321
Yep more flexibility in the prombench configs would be an amazing addition. @cstyan if you have the time to look into this that would be great.

I guess a proposal doc for the implementation could be the way to dicsuss this?

[2020-02-04 16:03] cstyan commented on #321
I can help with something immediate to get over the memory issues so we can properly benchmark 2.16.0-rc.0, anything longer term I wouldn't be able to get to for a few weeks at least.

@geekodour what would you suggest for a short term fix?

[2020-02-04 16:11] geekodour commented on #321
@cstyan  A benchmark is already running for https://github.com/prometheus/prometheus/pull/6729

http://prombench.prometheus.io/grafana/d/7gmLoNDmz/prombench?orgId=1&var-RuleGroup=All&var-pr-number=6729&from=now-12h&to=now&refresh=30s

The last one oomed at 8h, this one is still running 10h in. So the short-term fix would be to rerun it(which is running now) and to hope it does not crash again :dis

[2020-02-04 16:14] geekodour commented on #321
@cstyan if this fails, we can maybe start another test with `n1-highmem-16` which will make sure that atleast the test finishes.

[2020-02-04 16:24] geekodour commented on #321
For the long term resolution of the memory issue, I think we can try reducing the no. of series if we do not intend to increase the memory of the instances to prevent any kind of out of memory related to this in the future. ?

[2020-02-04 16:33] cstyan commented on #321
Did the `prombench cancel` on that PR not work?

I think we should do this, just for this next 3d benchmark, so we can confirm 2.16.0 isn't performing worse in terms of memory usage than 2.15.x. Then going forward we could reduce the number of series and go back to `n1-highmem-8` and do another benchmark so we have something to compare the future 2.17.0 benchmark to.

What do you guys think about

[2020-02-04 16:45] geekodour opened #322 "Loki not showing previous test prometheus instance logs"
Grafana explorer does not seem to show previous `>1d` logs for test prometheus instances. It does show the previous logs for other things/labels that it is logging for according to the set retention period, which is currently set to never delete. I think we can update this to 90d aswell.

But have to investigate why Loki is not showing previous logs for the test prometheus instances.

[2020-02-04 16:47] geekodour commented on #321
@cstyan  yes, it did work. I started another one manually to inspect the failing behavior again since grafana was not showing previous Loki logs. (https://github.com/prometheus/prombench/issues/322)

we can manually start a test with `n1-highmem-16` then we won't have to create another PR for that. @krasi-georgiev please let me know what to do.

[2020-02-04 22:27] krasi-georgiev commented on #321
I would say decrease the num of fake servers to decreaes the number of ingested series.

[2020-02-05 09:31] geekodour commented on #321
Running it in `n1-highmem-8` crashed again,

[link to loki logs](http://prombench.prometheus.io/grafana/explore?orgId=1&left=%5B%221580853307477%22,%221580856111750%22,%22loki-meta%22,%7B%22expr%22:%22%7Bprometheus%3D%5C%22test-pr-6729%5C%22%7D%22%7D,%7B%22mode%22:%22Logs%22%7D,%7B%22ui%22:%5Btrue,true,true,%22none%22%5D%7D%5D)
[link to prombench dashboard](http://prombench.prometheus.io/grafana/d

[2020-02-05 10:17] krasi-georgiev commented on #321
It is clearly visible that the new Prom version uses more memory and does a lot more allocations, but yeah lets reduce the num or targets to see how it goes.

[2020-02-05 12:43] geekodour commented on #321
@cstyan @krasi-georgiev i started a test for `v2.16.0 rc.0` as #323  got merged.

[2020-02-10 12:50] krasi-georgiev opened #324 "Refactor the grafana dashboards to show a more consistent memory usage."
http://prombench.prometheus.io/grafana/d/7gmLoNDmz/prombench?orgId=1&var-pr-number=6729&from=1580931841961&to=1581143580452

With the Prom 2.16 release the rss and allocations show some difference and @bwplotka and @cstyan suggest that this is due to the way golang reports/uses/frees the memory with MADV_FREE

Bartek wrote a blog post about it with some suggestions to use different metrics  for a

[2020-02-10 13:03] bwplotka commented on #324
:+1:

[2020-02-10 13:38] bwplotka commented on #324
Also let's consider comments made on our IRC: https://matrix.to/#/!WaUKIfoqfiyWQhenET:matrix.org/$158134152150272vJGeo:matrix.org?via=matrix.org&via=half-shot.uk

[2020-02-10 13:45] roidelapluie commented on #324
I would also appreciate the following dashboards dropdown variables:

- Being able to chose between rate and irate
- Being able to chose the rate inverval

[2020-02-19 16:55] nevill commented on #324
Let me write down some ideas discussed on IRC.
1. Working Set Size / RSS doesn't really help, but we still care about it.
2. We need a solution to smooth the spiky lines, probably irate / rate, or max / avg / min ? It should be a deterministic way to tell how the memory is going.
3. As noted in the @bwplotka 's blog, there are two types of memory we need to care, `evictable` and `non-evictable`. W

[2020-02-23 01:26] geekodour commented on #301
@krasi-georgiev can be closed now?

[2020-02-23 01:26] geekodour commented on #299
@krasi-georgiev this can be closed now?

[2020-02-23 01:28] geekodour opened #328 "Update Grafana Dashboards"
A meta issue to track issues related to update grafana dashboards for test-infra.

- ~Add GithubAction to update Grafana Dashboards #309~
- Refactor the grafana dashboards to show a more consistent memory usage. #324
- Revisit all current dashboards to add new and remove unneeded to make them more useful for catching bugs. #186
- Node Exporter does not get filesystem size metrics from SSD path /mn

[2020-02-24 10:59] krasi-georgiev commented on #299
yep, thanks

[2020-02-24 10:59] #299 closed, assigned to nobody

[2020-02-24 11:05] krasi-georgiev commented on #301
yep, thanks

[2020-02-24 11:05] #301 closed, assigned to nobody

[2020-02-27 05:45] geekodour opened #333 "Allow running prombench locally"
Currently prombench development requires the user to setup GKE environment. Having prombench to run in a local k8s cluster would make adding changes much easier and faster. Support for kubeconfig and a proper way to switch local and GKE environment is not available yet. Adding these features will be essential to the completion of the project.

This most probably will require adding a local provide

[2020-03-02 09:00] #309 closed, assigned to nobody

[2020-03-02 13:12] imrajdas commented on #333
Hi @geekodour , I would like to take this issue as part of GSOC 2020.

[2020-03-02 18:10] harkishen commented on #333
Hi @rajdas98 , sorry but I am already working on this. Can you take some other issue?

[2020-03-03 06:16] harkishen commented on #328
Taking this up. Thank you.

[2020-03-03 07:11] geekodour commented on #333
Hello @rajdas98 @Harkishen-Singh
current provider code lives in https://github.com/prometheus/test-infra/tree/master/pkg/provide

@rajdas98  did you start working on it? you can also join riot channel at https://prometheus.io/community/ and ping me in it for any questions.

[2020-03-11 00:50] geekodour commented on #328
@Harkishen-Singh this is part of a gsoc task (https://github.com/cncf/soc#update-grafana-dashboards-for-test-infra), you can include this task in your proposal but keeping this task open will be a good idea as other students might be interested to work on this as well.

[2020-03-11 06:33] geekodour opened #341 "Allow running prombench on EKS"
Currently, prombench runs on GKE. It'll be good to have it run on [EKS](https://aws.amazon.com/eks/) as well. If we need to migrate away from GKE, that'll be super useful.

provider code live here: https://github.com/prometheus/test-infra/tree/master/pkg/provider

related #333 (about running prombench locally)

[2020-03-16 19:18] geekodour commented on #333
@rajdas98 @Harkishen-Singh since the student submission period has started, feel free to send me your proposals for review. :)

[2020-03-25 14:40] nevill opened #344 "[Prombench] Read template values from environment variables by default."
Usually, we call `prombench` with a dozen of variables like
`./prombench gke resource apply -v ZONE:$ZONE -v PROJECT_ID:$PROJECT_ID -v CLUSTER_NAME:$CLUSTER_NAME -v PR_NUMBER:$PR_NUMBER -v GITHUB_TOKEN:$GITHUB_TOKEN -v GITHUB_REPO:$GITHUB_REPO ...`.
The values are actually from environment variables.
It's better to read from the environment variables directly.

[2020-03-25 15:36] krasi-georgiev commented on #344
I think it is fine as it is because explicit cli arg are much better to reason and you don't have to look at the source code.

@bwplotka did a very good blogpost recently which is related.
https://www.bwplotka.dev/2020/flagarize/

[2020-03-26 02:00] nevill commented on #344
It's not the same case as `flagarize` or `kingpin` trying to solve. In @bwplotka 's example, we can easily list all the arguments required by `--help`. But in `prombench` case, these `-v` variables are from templates, not from the `prombench` program itself. Meaning, they can be added or removed from time to time. Certainly, we can keep the ability to overwrite them from cli args.

So, it's NOT ex

[2020-03-26 09:44] krasi-georgiev commented on #344
Yeah I was pointing out that using cli args is more explicit. Another argument I would have against is that usually when you start mixing ways to configure things it soon becomes a mess. Anyway, I will leave it to you and @geekodour to decide :)

[2020-03-26 10:57] geekodour commented on #344
I think it's fine because `-v` are just the template variables and different manifest files need different template variables. Having the ability to just pass text to `-v` is also handy.

If we keep explicit `-v` flags, `prombench` anyway complains about missing variables. (we can improve on the error message though), also agree with @krasi-georgiev on not having to look at the manifest file just

[2020-03-26 11:26] bwplotka commented on #344
Keep in mind that we probably should use flags first and only fallback to config / env if really necessary.

Is this necessary now? Why? Can we use CLI flags? :hugs:

[2020-03-26 12:54] krasi-georgiev opened #345 "Add additional rules or queries to catch regression"
To catch cases like these regressions.

https://github.com/prometheus/prometheus/issues/7048
https://github.com/prometheus/prometheus/issues/6968

cc @bwplotka

[2020-03-26 13:09] bwplotka commented on #345
I think we need micro benchmarks instead, but this will help as well :+1:

[2020-03-26 13:11] krasi-georgiev commented on #345
yep, adding more queries to measure latencies is always good!

[2020-03-27 03:26] nevill commented on #344
I agree that we have to make these `-v` variables explicit. @geekodour All the ways you mentioned to make it explicit is good enough.

But this issue is about reading variables from environment. Because I see there is a duplication to pass the variables around when running it in GH action. I see @krasi-georgiev worried of it becoming a mess, but as long as we only use it for template variables, it

[2020-03-27 09:52] nevill commented on #344
Right now, I understand that, you may invoke `prombench` by `make resource_apply`, it contains all the variables to be set there in `Makefile`. It can be a solution.

[2020-03-27 09:52] #344 closed, assigned to nobody

[2020-04-14 10:13] geekodour opened #347 "Generate automated help text for test-infra tools"
Currently the usage example for most of the test-infra tools looks like the following in README files:
[code]
We can make `--help` flag more helpful by providing usage examples in it like [amGithubNotifier](https://github.com/prometheus/test-infra/blob/2de6c0e7370788fac314f7868c5f5a532cd1233c/tools/amGithubNotifier/main.go#L72) already does.

As discussed with @krasi-georgiev previously and with @

[2020-04-28 19:59] siddharthlal25 commented on #333
Hi @geekodour, has this issue been taken up as GSoC 2020 project? if not I am quite eager to learn and contribute.

[2020-04-29 15:07] geekodour commented on #333
sorry! @siddharthlal25 task is assigned for to be worked during the GSoC period. Please feel free to pickup any other issue :)

[2020-04-30 13:57] geekodour commented on #321
Closing since the memory issue was resolved and there is not a requirement of such custom tests as of now.

[2020-04-30 13:57] #321 closed, assigned to nobody

[2020-05-02 09:48] geekodour commented on #249
@csmarchbanks taking a second look on this issue, will there be need of additional queries /tests to view the results better? or just having the prometheus instances use remote write will be good enough?

[2020-05-04 12:44] krasi-georgiev opened #356 "Keep funcbench and prombench complitely separate."
I think we need to keep funcbench and prombench completely separate with separate Makefiles. I know this will lead to few lines if duplicate code, but in the long run it would be easier to understand and maintain.

Since [gke is a package]("github.com/prometheus/test-infra/pkg/provider/gke") It will be simple enough to use it inside funcbench and extend it to support `funcbench gke resource ....`.

[2020-05-04 12:57] krasi-georgiev opened #357 "Prombench is built from master on every push so no need to clone the repo dinamically."
Now that the CI builds and pushed all images on every push to master don't need the clone script https://github.com/prometheus/test-infra/blob/master/prombench/cmd/prombench/clone.sh

Can also remove the need for https://github.com/prometheus/test-infra/blob/master/Makefile , because the docker context can be inside the folder for each tool.

[2020-05-04 21:11] geekodour commented on #357
We can probably remove the docker part, it will also be good to review the `make docker` references in the README files. We'll still need the `all` target for circle ci tests I guess?

[2020-05-05 21:10] csmarchbanks commented on #249
It would be nice to have a couple more queries, specifically for some of the remote-write specific data including number of shards, and if a queue is backed up at all. Some good queries exist in the prometheus mixin remote write dashboard: https://github.com/prometheus/prometheus/blob/master/documentation/prometheus-mixin/dashboards.libsonnet#L101

[2020-05-05 21:14] roidelapluie commented on #249
Do we have a remote-write 'black-hole' that would accept all samples (and randomly fail)?

[2020-05-06 05:07] geekodour commented on #249
@roidelapluie  I'll just mention @csmarchbanks [riot response here](
https://matrix.to/#/!WaUKIfoqfiyWQhenET:matrix.org/$158871572925607yXIJr:matrix.org?via=matrix.org&via=half-shot.uk):

https://github.com/prometheus/prometheus/blob/master/documentation/examples/remote_storage/example_write_adapter/server.go

Yes, will add something like that only, thanks for the links :)

[2020-05-08 14:53] nevill commented on #356
Yes, I know we discussed about it, but I may come up with new ideas. :)

IMO `funcbench` should not contain `mainifests` or `prombench` binary. Because
1. when `funcbench` is running inside k8s, it doesn't require `prombench` binary
2. `funcbench` will somehow be used by other projects, they may have their own infrastructure, or their own manifests.
3. `funcbench` doesn't require `prombench` when

[2020-05-09 03:02] geekodour opened #364 "Syntax check for changes in grafana dashboards"
Grafana dashboard configmap automation was added in : https://github.com/prometheus/test-infra/pull/335

Since we're going to work with improving the current Grafana dashboard for prombench and test-infra in general, it'll be good to have a syntax check to [avoid problems like this.](https://github.com/prometheus/test-infra/pull/334#issuecomment-593453512) also will be nice to have some kind of ba

[2020-05-09 03:25] geekodour commented on #356
If IUUC, this is the organization that you're suggesting:
[code]

The `/tools/infra` docker image will have the `/manifests` inside it and have some kind of env var set which directory (`/`,`/manifests/funcbench`,`/manifests/prombench/` etc) should the `make` command be run from.

Is this right?

[2020-05-09 06:23] nevill commented on #356
I think @geekodour you are talking about the project structure, while I was talking about docker image. But, the structure you proposed looks reasonable.

Add a little modification.
[code]

This is also good.

[2020-05-11 11:55] #347 closed, assigned to nobody

[2020-05-23 10:33] #357 closed, assigned to nobody

[2020-05-31 13:12] geekodour commented on #356
fixed by #368

[2020-05-31 13:12] #356 closed, assigned to nobody

[2020-06-02 02:40] imrajdas opened #371 "Need to upgrade client-go version"
- For the implementation of kind provider https://github.com/prometheus/test-infra/issues/333, client-go v1.11.0 is not supported.
- Upgrading client-go will also affect the k8s provider.
  - Currently, client-go(v1.11.0) functions didn't take the `context` parameter,  Need to pass a empty context parameter `context.TODO()`
    Ex- https://github.com/prometheus/test-infra/blob/master/pkg/provider/

[2020-06-02 02:40] imrajdas commented on #371
cc @geekodour

[2020-06-04 04:06] geekodour opened #373 "Add support for git tags and other commits for funcbench in GitHub Mode"
Currently funcbench only supports branch name and commit hash as the target. It'll be nice to add support to[ comment like in this comment.](https://github.com/prometheus/prometheus/pull/7287#issuecomment-638246346)

`/funcbench <branch> <benchmark function regex>`

I also think when running funcbench in Github Mode it only allows comparing the PR to the master and not to even any other commit or

[2020-06-04 08:28] krasi-georgiev commented on #373
yeah this is something important to fix

[2020-06-04 10:57] nevill opened #375 "Post back error message when prombench / funcbench receive wrong input"
Currently if a user input doesn't pass the regex check, everything is silently passing, user cannot know what is going on.

There should be a fix in comment monitor.

We need to post back an error message to tell the input has something wrong, when the comment is prefixed with `/prombench` or `/funcbench`.

[2020-06-04 13:56] geekodour opened #376 "Add support for custom labels for comment-monitor"
This PR is running funcbench but the label set is `prombench`, need to add support for custom labels based on comment to comment-monitor.

[2020-06-04 14:01] geekodour commented on #373
@krasi-georgiev This issue is partly resolved after #374 , tried running the same command, works! thanks to @nevill  :) just adding tag support remains now.

[2020-06-05 14:39] nevill commented on #373
~~After #377 get merged, we also need to update the regexp in `eventmap.yml`.~~

seems the regexp can capture the tag names correctly.

[2020-06-07 07:47] nevill opened #380 "Differentiate between commit hash id or branch name or tag name in funcbench"
Commit hash is always hexadecimal, in rare case it can be [meaningful words](https://en.wikipedia.org/wiki/Hexspeak), conflicting with branch or tag names.
We need to tell user using full length(20 byte) hash id as input to avoid the confusion.
In this case, new checks has to be added to funcbench.

Reference:
* https://github.com/prometheus/test-infra/pull/377#pullrequestreview-425746785

[2020-06-08 09:54] krasi-georgiev commented on #373
ok feel free to close if it is resolved.

[2020-06-10 11:20] krasi-georgiev opened #382 "[comment-monitor] - use cli flags instead of env vars and auto generate the readme."
I think in the past we used env vars because we were running it in GH actions, but this caused big delays to post comments so now that it runs 24/7 can use cli args instead of env variables.
In the same or a different PR can add to autogenerate the readme from the cliflags

Should also cleanup anything related to GH actions like the eventmap file for examples

[2020-06-10 12:38] geekodour commented on #382
comment-monitor helptext is already autogenerated: https://github.com/prometheus/test-infra/blob/0180701d3965a9c7ce899a9029be2f70da38b837/scripts/genflagdocs.sh#L13 with `make docs`

The only env var at use after https://github.com/prometheus/test-infra/pull/381 and https://github.com/prometheus/test-infra/pull/378 is merged will be `GITHUB_TOKEN` , will update comment-monitor for that.

[2020-06-10 20:54] krasi-georgiev commented on #382
ok thanks please reference the last PR to this issue so it closes it.

[2020-06-17 08:55] #375 closed, assigned to nobody

[2020-06-17 10:30] #376 closed, assigned to geekodour

[2020-06-17 10:43] geekodour commented on #380
Closed by #377

[2020-06-17 10:43] #380 closed, assigned to nobody

[2020-06-17 10:43] geekodour commented on #373
Closed by #377

[2020-06-17 10:43] #373 closed, assigned to nobody

[2020-06-19 10:06] geekodour opened #385 "Add funcbench logs to Github comment"
Funcbench logs can only be seen in GKE stackdriver before the funcbench Job is deleted. It'll be nice to have these logs posted as part of the result or error comment posted back to Github.

[2020-06-19 10:28] roidelapluie commented on #385
Or in Loki

[2020-06-20 14:57] geekodour opened #387 "GKE deprecating ProjectID and Zone in favour or Parent field"
See https://godoc.org/google.golang.org/api/container/v1beta1#CreateClusterRequest and
And https://github.com/prometheus/test-infra/pull/372#issuecomment-639601881_

[2020-06-21 20:23] geekodour commented on #371
closed by #372

[2020-06-21 20:23] #371 closed, assigned to nobody

[2020-06-22 02:43] nevill opened #389 "Funcbench - make the minimum display unit in milisecond"
In benchmark results, we think 200 ns/op is not a big difference as 100,000 ns/op( = 0.1 milisecond ). We should display them as 0 ms/op.

[2020-06-29 17:33] krasi-georgiev opened #394 "[funcbench] Deleting a comment triggers another test"
when deleting a comment that was used to trigger a test it re-triggers the same test so it seems that the comment monitor doesn't distinguish between delete and create events.

[2020-06-29 17:38] krasi-georgiev opened #395 "[funcbench] dispaly the op difference in miliseconds."
I think it makes most sense to design and run test that measure in `milliseconds` rather than `ns`.
In `ns` the margin is too small and the results are inconsistent

[2020-06-29 18:06] krasi-georgiev opened #396 "[funcbench] allow running package wide benchmarks."
Make something like this possible in funcbnech

```go test -benchmem -run=^$ github.com/prometheus/prometheus/promql -bench .```

[2020-06-29 18:11] krasi-georgiev opened #397 "[funcbench] for comments with incorrect syntacs post back a comment with examples"
at the moment when I post a /funcbench comment with incorrect syntax it just replies with a comment that the syntax is incorrect. It would be a better experience to post back all available formats that are accepted.

[2020-06-29 18:12] krasi-georgiev opened #398 "[funcbench] when a comment doesn't match any tests should also post a comment"
At the moment if I post `/funcbench master TestDoesntExist` There is no feedback that this test doesn't exist. It would be useful to post a comment like: `Test expression ... didn't match any existing tests. Available command formats....`

[2020-06-29 20:29] geekodour commented on #397
This is posted back by the comment-monitor, it can post back the regex that it expects to be matched to but posting the available formats will need changing comment-monitor. should we just return the expected regex for now?

[2020-06-29 20:32] geekodour commented on #396
When running funcbench `github.com/prometheus/prometheus/` this part is already part of the `--owner` and `--repo` flags, so just the package name could work? something like this:

[code]

what do you think?

[2020-06-30 00:56] nevill commented on #389
seems `benchstat` handles the magnitude better than `benchcmp`
say we have 2 samples
[code]

with `benchstat sample1.log sample2.log` the result is
[code]

but with `benchcmp sample1.log sample2.log`, the result is
[code]

[2020-06-30 01:15] nevill commented on #396
Yes, we mainly talk about funcbench syntax here.
It should work like `./funcbench master Benchmark.* ./promql`.
In case you don't specify any package name, it can fallback to `./funcbench master Benchmark.*`, even `./funcbench master .*`

[2020-06-30 01:19] nevill commented on #397
I think this issue should be fixed in comment monitor instead of funcbench, prombench can also be affected by this.

[2020-06-30 01:21] nevill commented on #395
It's duplicated to #389.

[2020-06-30 08:51] krasi-georgiev commented on #396
The shortest form looks the most intuitive as well I think

`/funcbench master ./promql`

[2020-06-30 08:53] #395 closed, assigned to nobody

[2020-06-30 09:15] krasi-georgiev commented on #397
how about having

comment_template_success: .....
comment_template_failure: .....

the comment_template_failure needs to be auto-generated so that it doesn't diverge from the funbench cli and we should also have a test for this. Check that the generated examples match exactly what funcbench expects..

[2020-06-30 13:29] nevill commented on #396
The form `/funcbench master ./promql` has conflict with `/funcbench master .*`.
I think `/funcbench <branch or tag or commit hash> <regexp> [package name]` can represent the syntax.

[2020-07-01 08:31] krasi-georgiev commented on #396
can you give a few examples of how would that look like?

[2020-07-01 15:19] nevill commented on #396
These are currently supported:
- /funcbench master .*
- /funcbench master BechmarkName.*
- /funcbench v2.16 .*
- /funcbench v2.16 BechmarkName.*
- /funcbench 00aabbccddee .*
- /funcbench 00aabbccddee Benchmark.*

The following will be added:
- /funcbench master Benchmark.* ./promql
- /funcbench v2.16 Benchmark.* ./promql
- /funcbench 112233aabbcc Benchmark.* ./promql

[2020-07-01 15:20] nevill commented on #396
Actually, we may omit ./ for package names.
e.g instead of `/funcbench master Benchmark.* ./promql`, we do `/funcbench master Benchmark.* promql`

[2020-07-01 20:25] krasi-georgiev commented on #396
lets keep it as close as possible to the golang syntacts so if possible lets have the package name first.

/funcbench master ./promql Benchmark.*

[2020-07-01 21:10] geekodour commented on #396
Currently the package name is added to the end, so I think `/funcbench master Benchmark.* ./promql` will be closer to the actual go test command we're running? and if unspecified we just use `./...`
[code]

[2020-07-02 08:04] krasi-georgiev commented on #396
actually both work so yeah that would be easier to implement.

[2020-07-02 15:06] nevill opened #401 "[funcbench] Improvments on reducing conflicts"
- Prefix GitHub org/repo name and in cluster name and namespace. This can avoid potential conflicts when testing a forked project.
- Test if a previous instance is running for the same PR. If there is, abort the newly created workflow.

[2020-07-02 18:49] geekodour opened #402 "[funcbench] Empty results when ran against branch which has missing benchmarks"
One example of this could be the case when a PR adds a new benchmark and it is not present in the branch/tag/commit funcbench compares against, as a result comparison is not possible and empty results are posted.

Eg.https://github.com/prometheus-community/prometheus/pull/69#issuecomment-652632042

[2020-07-05 01:14] geekodour opened #404 "Single quote CLI regexes when running in funcbench"
https://github.com/prometheus/test-infra/blob/3374b562904be593592a03609dba71bf4dc3c14a/funcbench/bench.go#L54

This currently is not an issue, but if one tries to copy the command from the comment and tries to run it locally, the lack of quotes can be an issue.

[2020-07-08 00:06] geekodour opened #407 "Home dashboard for test-infra"
A dashboard for the entire test-infra will be nice, which components are running, what tests are running, how many etc. This can be the home dashboard for prombench.prometheus.io/grafana

[2020-07-09 08:16] imrajdas opened #409 "Wrong issue"

[2020-07-09 08:16] #409 closed, assigned to nobody

[2020-07-10 14:32] geekodour opened #410 "Funcbench fails to fetch github repo sometimes"
It'll be nice to have some sort of retry timeout to how we're fetching the repository to run funcbench on. The subsequent runs after this comment were run without any changes and they just worked.

Example: https://github.com/prometheus-community/prometheus/pull/71#issuecomment-656461942

This seems more like a network issue, to me but unsure as it not always reproducible.

[2020-07-11 18:30] #389 closed, assigned to nobody

[2020-07-12 10:48] nevill commented on #398
@krasi-georgiev This one is also can be closed since #400 gets merged.

[2020-07-13 09:08] krasi-georgiev commented on #398
thanks, in the future can use the PR keywords to close issues from PRs when merged. https://docs.github.com/en/enterprise/2.16/user/github/managing-your-work-on-github/closing-issues-using-keywords#:~:text=issue%20will%20close.-,Closing%20an%20issue%20in%20the%20same%20repository,merged%20into%20the%20default%20branch.

[2020-07-13 17:02] nevill commented on #398
Yes I see. In fact I did it in the commit message [there](https://github.com/nevill/test-infra/commit/dd7601e81bd21a73ce37408d41f3bfc128751052), but seems it's squashed and gone away.

[2020-07-15 19:48] geekodour commented on #382
closed by #378

[2020-07-15 19:48] #382 closed, assigned to nobody

[2020-07-17 13:55] geekodour commented on #402
Fixed by #400

[2020-07-17 13:55] #402 closed, assigned to nobody

[2020-07-17 13:57] geekodour commented on #398
Closed by #400

[2020-07-17 13:57] #398 closed, assigned to nobody

[2020-07-17 15:45] geekodour opened #411 "List all the locally reachable services with a command for KIND provider"
cc @rajdas98

[2020-07-20 12:33] roidelapluie opened #414 "Funcbench is not cleaning its resources"
12:30:07 gke.go:151: Couldn't parse deployment files: couldn't apply template to file
                         manifests/benchmark/2_secrets.yaml: Failed to execute parse file err: template: resource:8:13: executing
                         "resource" at <.GITHUB_TOKEN>: map has no entry for key "GITHUB_TOKEN"

seen in https://github.com/prometheus/prometheus/runs/889809405?check_suite_focus=true

[2020-07-20 13:19] geekodour commented on #414
Happening after merging https://github.com/prometheus/test-infra/pull/392 ~(think forgot to update github workflow on prometheu/prometheus)~

[2020-07-20 13:39] #414 closed, assigned to nobody

[2020-07-20 14:07] geekodour opened #416 "Prombench users getting certificate warnings on Chrome"
Maybe we should be switch to HTTPS or just get rid of the fake certificate in use.

[code]

[2020-07-20 20:30] geekodour opened #417 "Unexpected comment behaviour when funcbench invoked in GitHub"
comment-monitor posting two comments(it should have been only the second comment):

need to investigate:
https://github.com/prometheus/prometheus/pull/7617#issuecomment-661082007

[2020-07-20 20:32] geekodour commented on #417
oh it was this. closing.

![image](https://user-images.githubusercontent.com/12918431/87983520-2208f780-caf6-11ea-986b-e279b015619d.png)

[2020-07-20 20:32] #417 closed, assigned to nobody

[2020-07-20 20:34] geekodour commented on #417
error messages to improve significantly after https://github.com/prometheus/test-infra/pull/403

[2020-07-21 02:55] geekodour opened #418 "Add repository_dispatch event selection in Github Actions workflow"
Currently both the prombench and funcbench workflow are executed and one of them is ignored based on the command run. This can be improved.

all information is here:
https://github.community/t/optimization-for-repository-dispatch-event-in-github-action-workflows/118926/2

[2020-07-21 04:07] geekodour opened #419 "Having E2E tests for prometheus/test-infra"
After having the KIND provider added #390 added, it'll be possible to have E2E tests for prometheus/test-infra so that we don't have to manually test every change. We can have some sort of `/test-infra` command to test infra itself.

It's still possible to run E2E tests on GKE, but with KIND this will become more easier and one could just run it locally (need to think of how we can generate test d

[2020-07-22 12:52] geekodour opened #420 "Autogenerate grafana_dashboard_dashboards_noparse.yaml"
Currently it's somewhat of a pain to add modifications to dashboards because these are JSON inside yaml files, formatting issues etc etc.

It'll be nice if we can have some `dashboard` directory somewhere where we store dashboards in json. and we can run some script to auto generate grafana_dashboard_dashboards_noparse.yaml from them. then we can apply it as we're currently applying it.

related #

[2020-07-23 01:33] #394 closed, assigned to geekodour

[2020-07-23 06:15] geekodour commented on #397
closed by #403

[2020-07-23 06:15] #397 closed, assigned to geekodour

[2020-08-05 02:32] #396 closed, assigned to nobody

[2020-08-05 02:32] #404 closed, assigned to nobody

[2020-08-05 02:32] #410 closed, assigned to nobody

[2020-08-05 02:33] geekodour commented on #418
Closed by https://github.com/prometheus/prometheus/pull/7740

[2020-08-05 02:33] #418 closed, assigned to nobody

[2020-08-07 05:49] geekodour commented on #416
@krasi-georgiev do you think we need this? we're probably using a wildcard certificate, i was wondering if we should be using be using the `*.prometheus.io` wildcard certificate or gets new certificate on specific subdomain, if the ssl provider allows that?

[2020-08-07 06:17] roidelapluie commented on #416
Get a specific certificate I'd say

[2020-08-08 19:41] imrajdas opened #427 "Need a new infra cli command to print the exposed services"
- Currently, we are exposing three services- Grafana, Prometheus, Logs. We can add an infra CLI command to get the service IP and port using client-go
- The command will look like- `infra kind services`

[2020-08-08 19:43] imrajdas commented on #427
cc @geekodour

[2020-08-08 23:34] geekodour commented on #411
Closing in favor of #427

[2020-08-08 23:34] #411 closed, assigned to nobody

[2020-08-10 11:50] krasi-georgiev commented on #416
@roidelapluie get it how?  I am not sure how is this handled for prometheus.io?

Unless certificate handling can be easily automated I would to postpone spending time on this and focus on other higher priorities issues

[2020-08-10 11:53] roidelapluie commented on #416
Caddy can automate that, aren't we using that?

[2020-08-10 12:09] krasi-georgiev commented on #416
So IIUC this automation needs to be handled by the Grafana UI, no?
In other words, the Grafana UI needs to use Caddy as a library to automate the HTTPS cert handling.

[2020-08-10 12:12] roidelapluie commented on #416
Oh caddy is a reverse proxy. I was assuming that caddy was our ingress controller.

[2020-08-10 12:14] roidelapluie commented on #416
Alright, here is the confusion. We use caddy in https://demo.do.prometheus.io/ but not in prombench.

[2020-08-10 13:53] krasi-georgiev commented on #416
ok so the action item is - use Caddy as a proxy server for prombench.
Again I think our top priority should be to make the current dashboards and tests more useful then anything else.

[2020-08-24 14:48] bwplotka opened #429 "Add perflock to funcbench"
This ensures better safety in terms of CPU results - useful for shared environments.

Would be nice to do it programmatically: https://github.com/aclements/perflock/issues/6

[2020-08-24 19:47] geekodour commented on #429
Yes this would be super nice I think! Let's see what aclements has to say.

Also, I am just unsure about how this would behave in containerized environments. Currently funcbench runs on a k8s pod in the main k8s node itself. Any suggestions?

I think it was tried running directly on a GCP VM but the results were more or less the same.
@krasi-georgiev @nevill  would have more info on this.

[2020-08-25 11:03] bwplotka opened #431 "funcbench: Improve local running expierience."
So I am doing lots of microbenchmarks and unfortunately still frontbench is way behind the bash script I developed through the year ;p

At this point I am curious if it's worth adjusting funcbench or actually it's time to start separate tool.. ): What do you think @geekodour ?

My scripts are available here: # Shared @ https://gist.github.com/bwplotka/3b853c31ed11e77c975b9df45d105d74 I feel those

[2020-08-25 11:04] bwplotka commented on #429
Well the thing is that this is literally global locking mechanism allowing to run more than one benchmark at the time (:
Useful when w have one VM!

I am not sure how it works in a containerized environment though (:

[2020-08-26 08:06] geekodour commented on #431
Thanks for sharing the scripts :)

I think what you're doing with your script is totally possible to do with funcbench. What I think could improve the local experience would be:

- nice way to get it installed
- run benchmarks in an isolated directory that does not change whatever user is working on by any means
- improve worktree usage
- have perflock for local. This I think will have to be done

[2020-08-26 08:59] bwplotka commented on #431
We might want to also enhance storing of old results in some way, like I did in the script. The key flow is that you usually we do changes to commit A and bench, then we improve and check if it's better or worse on commit B, so we compare A, B.

Then we do C, D, E and we usually compare with A and don't want to redo A all the time. Funbench however by design always do A and Target commit

[2020-08-27 09:27] krasi-georgiev commented on #429
Yes lets try it!

[2020-08-29 07:14] geekodour commented on #431
Ah! I see, this will be a nice addition! I'll try to implement this in the coming week then :)

I can't think of any ways this can be used when running funcbench from a github PR so will add this local only for now and keep the github PR flow the same.

[2020-08-31 18:10] krasi-georgiev commented on #310
concluded that this is not needed

[2020-08-31 18:10] #310 closed, assigned to nobody

[2020-09-28 22:40] roidelapluie opened #438 "Prombench: The go version in prometheus' .promu.yml is not respected"
I have noticed that prombench for 2.18.0 did run with go 1.13 instead of go 1.14.

The version in .promu.yml was 1.14. We should respect that, so we can test against the relevant go versions.

[2020-09-29 09:14] geekodour commented on #438
I am a little confused about how it ran with 1.13 It should've ran with 1.15.

https://github.com/prometheus/test-infra/blob/c162e41585b4a66d2f24389aac24eadf9c371e75/tools/prometheus-builder/Dockerfile#L1

https://github.com/prometheus/test-infra/blob/c162e41585b4a66d2f24389aac24eadf9c371e75/tools/prometheus-builder/build.sh#L26-L30

But this is not a issue if we're comparing the issue against the

[2021-03-15 16:38] roidelapluie opened #444 "Prombench is not running anymore"
Hello

http://prombench.prometheus.io/hook returns 503. Can someone please have a look?

[2021-03-16 06:21] geekodour commented on #444
Hi @roidelapluie I'll take a look at this, it seems like there needs to make other changes after the `master` to `main` migration. It seems like there was a PR to change this: https://github.com/prometheus/test-infra/pull/443 but it'll need more changes, i'll comment.

[2021-03-16 08:22] roidelapluie commented on #444
thanks

[2021-03-16 10:47] geekodour commented on #444
This is fixed now. Looking into the changes needed for the `master` to `main` migration or the changes in https://github.com/prometheus/test-infra/pull/443 will suffice. :)

[2021-03-30 01:45] #168 closed, assigned to nobody

[2021-03-30 01:45] #173 closed, assigned to nobody

[2021-03-30 01:45] #186 closed, assigned to nobody

[2021-03-30 01:47] #324 closed, assigned to nobody

[2021-03-30 01:47] #345 closed, assigned to nobody

[2021-03-31 06:04] #444 closed, assigned to nobody

[2021-06-27 16:20] LeviHarrison opened #455 "Upgrade Prometheus Meta version"
The current version of Prometheus Meta specified in the manifest is `v2.20.0`, which is pretty old itself, but the instance actually running is even older, `v2.10.0`.

https://github.com/prometheus/test-infra/blob/bec88220803fd49ac8f007d3ff72d707d6a69a3c/prombench/manifests/cluster-infra/3b_prometheus-meta.yaml#L204

http://prombench.prometheus.io/prometheus-meta/status

[2021-07-03 20:52] LeviHarrison commented on #249
Is anyone working on this? I've recently come across the need to do some remote write benchmarks for Prometheus and I recognize the benefit an easy setup like Prombench could provide. I'd be happy to implement it.

[2021-10-03 00:40] LeviHarrison commented on #249
I'm working on this.

[2022-02-21 22:09] zzylol opened #460 "How to run prombench in KIND"
Hi all,

I'm new here and trying Prombench in KIND instruction: https://github.com/prometheus/test-infra/blob/master/prombench/docs/kind.md
I don't know where to find PR_NUMBER in `export PR_NUMBER=<PR to benchmark against the selected $RELEASE>` and how to run `../infra/infra kind cluster create -v PR_NUMBER:$PR_NUMBER -v CLUSTER_NAME:$CLUSTER_NAME \
    -f manifests/cluster_kind.yaml`. It will g

[2022-03-01 14:13] #460 closed, assigned to nobody